<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Empresa madrileña de construccion y reformas con más de 30 años de experiencia.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1" />
    <link rel="manifest" href="/manifest.json">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Black+Ops+One&family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <script defer src="https://kit.fontawesome.com/6a6f348080.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/utilityClasses.css" />
    <link rel="stylesheet" href="/css/homeStyles.css" />
    <link rel="icon" href="/css/svg/favicon.svg">
    <title>Estrumel</title>
  </head>
  <body>
     <%# include('partials/loading') %>
    <!-- %%%%%%%%%%%%%%% NAV %%%%%%%%%%%%%%%%%% -->

    <nav id="nav">
      <ul class="nav__list">
        <li class="nav__btn"><span class="nav__burger"></span></li>
        
        <li class="nav__item">
          <span href="#hero" data-id="hero" class="nav__current"></span>
          <a href="#hero" aria-label="Link a inicio"><img src="/css/svg/logo_nav.svg" alt="Estrumel logo"/></a>
        </li>

        <li class="nav__item">
          
          <span href="#habilidades-calculador" data-id="habilidades-calculador" class="nav__current"></span>
          <a href="#habilidades-calculador" aria-label="Link a calculadora"
            ><i class="fas fa-calculator"></i
          ></a>
        </li>

        <li class="nav__item">
          <span href="#obras" data-id="obras" class="nav__current"></span>
          <a href="#obras" aria-label="Link a galeria de obras"><i class="fas fa-th"></i></a>
        </li>

        <li class="nav__item">
          <span href="#contacto" data-id="contacto" class="nav__current"></span>
          <a href="#contacto" aria-label="Link a contacto"><i class="fas fa-phone-square"></i></a>
        </li>
     

        
      </ul>
    </nav>

<!-- %%%%%%%%%%%%%%% HEADER %%%%%%%%%%%%%%%%%% -->
<%- include('partials/header') %>

<!-- %%%%%%%%%%%%%%% HERO %%%%%%%%%%%%%%%%%% -->
    
<section id="hero" class="full-viewport">
  <div id="particles-js"></div>
   <!-- / IMG OBRA (DE FONDO) / -->

      <div class="hero__bg-img">
        
      </div>

    

      <div class="container">
          <!-- / LOGO / -->
           
          <div class="logo__title">
        <img src="css/svg/logo.svg" alt="Estrumel logo, forma la letra E"/>

          <!-- / TITULO / -->
          <h1 class="title">STRUMEL</h1>
        </div>

        <!-- / PRESENTACIÓN--ANIMACIÓN
              (LETRAS QUE SE MUEVEN)  /-->

        <div class="presentation">
          <h1 class="presentation__title"><span>30</span> años </h1>
          <div class="typewrite" data-period="2000" data-type='[ "construyendo", "reformando", "arreglando", "a tu lado"]'>
            <span class="wrap"></span>
          </div>
        </div>

        <div class="hero__btns">
          <button class="hero__btn hero__btn--conocenos btn--animated">Conócenos</button>
          <a href="/obras" class="hero__btn hero__btn--galeria btn--animated">Nuestro trabajo</a>
        </div>

        <div class="conocenos-text"><p class="conocenos-text__content">Empresa madrileña, familiar, con más de 30 años 
          de experiencia en reformas, construccion y estructuras metálicas.Lorem ipsum contenido, y eso, por rellenar.</p></div>

     
      </div>
    </section>


<!-- %%%%%%%%%%%%%%%/ HABILIDADES-CALCULATOR /%%%%%%%%%%%%%%%%%% -->

    <section id="habilidades-calculador">
      <div class="container calculator-flex">

        
         <!-- / HABILIDADES / -->
         
        <div class="habilidades">

          <div>
            <div class="slide-set slide-set-3">

              <div class="hab-item hab-active">
                <i class="fas fa-building"></i>
                <h3 class="hab-title">Obra nueva</h3>
                <div class="hab-text last-row-hab-text">
                  <div class="hab-text-content last-row-hab-text">
                    <p>Obra nueva maiorum habemus detraxit at. Timeam fabulas splendide et his.
                       Facilisi aliquando sea ad, vel ne consetetur adversarium.
                       </p>
                  </div>
                </div>
              </div>
           
            
              <div class="hab-item">
                <i class="fas fa-check"></i>
                <div class="hab-title">
                  <h3 >+30 años</h3>
                  <h5 >de experiencia</h5>
                </div>
              
              </div>

              <span class="next-hab-btn"><i class="fas fa-chevron-right"></i></span>
            </div>


            <div class="slide-set slide-set-2">

              <div class="hab-item hab-active">
                <i class="fas fa-paint-roller"></i>
                <h3 class="hab-title">Pintura</h3>
                <div class="hab-text">
                  <div class="hab-text-content">
                    <p>Pintura maiorum habemus detraxit at. Timeam fabulas splendide et his.
                       Facilisi aliquando sea ad, vel ne consetetur adversarium.
                       Integre admodum et his, nominavi urbanitas et per, alii reprehendunt et qui.
                       </p>
                  </div>
                </div>
              </div>

              <div class="hab-item">
                <i class="fas fa-faucet"></i>
                <h3 class="hab-title">Fontanería</h3>
                <div class="hab-text">
                  <div class="hab-text-content">
                    <p>Fontaneria maiorum habemus detraxit at. Timeam fabulas splendide et his.
                       Facilisi aliquando sea ad, vel ne consetetur adversarium.
                       Integre admodum et his, nominavi urbanitas et per, alii reprehendunt et qui.
                       </p>
                  </div>
                </div>
              </div>

              <span class="next-hab-btn"><i class="fas fa-chevron-right"></i></span>
            </div>


            <div class="slide-set slide-set-1">

              <div class="hab-item hab-active">
                <i class="fas fa-tools"></i>
                <h3 class="hab-title">Reforma</h3>
                <div class="hab-text">
                  <div class="hab-text-content">
                    <p>Reforma maiorum habemus detraxit at. Timeam fabulas splendide et his.
                       Facilisi aliquando sea ad, vel ne consetetur adversarium.
                       Integre admodum et his, nominavi urbanitas et per, alii reprehendunt et qui.
                       </p>
                  </div>
                </div>
              </div>

              <div class="hab-item">
                <i class="fas fa-house-damage"></i>
                <h3 class="hab-title">Reparación</h3>
                <div class="hab-text">
                  <div class="hab-text-content">
                    <p>Reparacion maiorum habemus detraxit at. Timeam fabulas splendide et his.
                       Facilisi aliquando sea ad, vel ne consetetur adversarium.
                       Integre admodum et his, nominavi urbanitas et per, alii reprehendunt et qui.
                       </p>
                  </div>
                </div>
              </div>

            <span class="next-hab-btn"><i class="fas fa-chevron-right"></i></span>
            </div>


          </div>

        </div>


           <!-- / CALCULADORA / --> 

        <div class="calculadora" data-aos="fade-left"  data-aos-offset="100">
            
          <form action="/" id="calc__form">
            <p class="calc__des">Estoy buscando...</p>
            
            <div class="calc__tab tab--main">
              <div class="calc__input">
                <label for="bano">Reforma baño</label>
                <input type="radio" id="bano" name="tipo-reforma" value="reforma-bano">
              </div>
              <div class="calc__input">
                <label for="cocina">Reforma cocina</label>
                <input type="radio" id="cocina" name="tipo-reforma" value="reforma-cocina">
              </div>
              <div class="calc__input">
                <label for="integral">Reforma integral</label>
                <input type="radio" id="integral" name="tipo-reforma" value="reforma-integral">
              </div>
            </div>

            <div class="calc__tab tab--bano">
              <div class="calc__input">
                <label for="lavabo">Lavabo</label>
                <input type="checkbox" id="lavabo" class="calc__checkbox" name="lista-bano" value="lavabo">
              </div>
              <div class="calc__input">
                <label for="banera">Bañera</label>
                <input type="checkbox" id="banera" class="calc__checkbox" name="lista-bano" value="banera">
              </div>
              <div class="calc__input">
                <label for="plato-de-ducha">Plato de ducha</label>
                <input type="checkbox" id="plato-de-ducha" class="calc__checkbox" name="lista-bano" value="plato-de-ducha">
              </div>
              <div class="calc__input">
                <label for="mampara">Mampara</label>
                <input type="checkbox" id="mampara" class="calc__checkbox" name="lista-bano" value="mampara">
              </div>
              <div class="calc__input">
                <label for="wc">WC</label>
                <input type="checkbox" id="wc" class="calc__checkbox" name="lista-bano" value="wc">
              </div>
              <div class="calc__input">
                <label for="suelos-baño">Suelos</label>
                <input type="checkbox" id="suelos-baño" class="calc__checkbox" name="lista-bano" value="suelos">
              </div>
              <div class="calc__input">
                <label for="paredes-baño">Paredes</label>
                <input type="checkbox" id="paredes-baño" class="calc__checkbox" name="lista-bano" value="paredes">
              </div>
              <div class="calc__input">
                <label for="techos-baño">Techos</label>
                <input type="checkbox" id="techos-baño" class="calc__checkbox" name="lista-bano" value="techos">
              </div>
          
            </div>

            <div class="calc__tab tab--cocina">
              <div class="calc__input">
                <label for="mobiliario">Mobiliario</label>
                <input type="checkbox" id="mobiliario" class="calc__checkbox" name="lista-cocina" value="mobiliario">
              </div>
              <div class="calc__input">
                <label for="unir-cocina-y-salón">Unir cocina y salón</label>
                <input type="checkbox" id="unir-cocina-y-salón" class="calc__checkbox" name="lista-cocina" value="unir-cocina-y-salón">
              </div>
              <div class="calc__input">
                <label for="isla-central">Isla central</label>
                <input type="checkbox" id="isla-central" class="calc__checkbox" name="lista-cocina" value="isla-central">
              </div>
              <div class="calc__input">
                <label for="suelos-cocina">Suelos</label>
                <input type="checkbox" id="suelos-cocina" class="calc__checkbox" name="lista-cocina" value="suelos-cocina">
              </div>
              <div class="calc__input">
                <label for="paredes-cocina">Paredes</label>
                <input type="checkbox" id="paredes-cocina" class="calc__checkbox" name="lista-cocina" value="paredes-cocina">
              </div>
              <div class="calc__input">
                <label for="techos-cocina">Techos</label>
                <input type="checkbox" id="techos-cocina" class="calc__checkbox" name="lista-cocina" value="techos-cocina">
              </div>
            </div>

            <div class="calc__tab tab--integral">
              <div class="calc__input">
                <label for="banos">Baños</label>
                <input type="number" id="banos" name="numBanos" min="1" max="10" >
              </div>
              <div class="calc__input">
                <label for="climatizacion">Climatización</label>
                <input type="checkbox" id="climatizacion" class="calc__checkbox" name="lista-integral" value="climatizacion">
              </div>
              <div class="calc__input">
                <label for="electricidad">Electricidad</label>
                <input type="checkbox" id="electricidad" class="calc__checkbox" name="lista-integral" value="electricidad">
              </div>
              <div class="calc__input">
                <label for="fontaneria">Fontanería</label>
                <input type="checkbox" id="fontaneria" class="calc__checkbox" name="lista-integral" value="fontaneria">
              </div>
              <div class="calc__input">
                <label for="habitaciones">Habitaciones</label>
                <input type="number" id="habitaciones" name="numHabitaciones" min="1" max="20">
              </div>
              <div class="calc__input">
                <label for="ventanas">Ventanas</label>
                <input type="number" id="ventanas" name="numVentanas" min="1" max="40">
              </div>
              <div class="calc__input">
                <label for="puertas">Puertas</label>
                <input type="number" id="puertas" name="numPuertas " min="1" max="30">
              </div>
              <div class="calc__input">
                <label for="suelos">Suelos</label>
                <input type="checkbox" id="suelos" class="calc__checkbox" name="lista-integral" value="suelos">
              </div>
              <div class="calc__input">
                <label for="paredes">Paredes</label>
                <input type="checkbox" id="paredes" class="calc__checkbox" name="lista-integral" value="paredes">
              </div>
              <div class="calc__input">
                <label for="techos">Techos</label>
                <input type="checkbox" id="techos" class="calc__checkbox" name="lista-integral" value="techos">
              </div>

            </div>

            <div class="calc__tab tab--material">
              <div class="calc__input">
                <label for="gamaBaja">Media</label>
                <input type="radio" id="gamaBaja" name="tipo-material" value="gamaBaja">
              </div>
              <div class="calc__input">
                <label for="gamaMedia">Comfort</label>
                <input type="radio" id="gamaMedia" name="tipo-material" value="gamaMedia">
              </div>
              <div class="calc__input">
                <label for="gamaAlta">Alta</label>
                <input type="radio" id="gamaAlta" name="tipo-material" value="gamaAlta">
              </div>
            </div>

            <div class="calc__tab tab--metros">
              <div class="calc__input">
                <label for="metros2">Superficie en m²</label>
                <input type="number" id="metros2" name="metros2" min="20" max="1000">
              </div>
            </div>

            <div class="tab--final">
              <h2 class="calc__price"></h2>
              <div class="calc__user-choices">
                <ul class="choices__list">
                
                </ul>
              </div>
              
            </div>

            <div class="calc__btns">
              <button onclick="restartCalc()"class="calc__restart-btn">Repetir</button>
              <button class="prev-btn" type="button" onclick="nextPrev(-1)">Atrás</button>
              <button class="next-btn" type="button" onclick="nextPrev(1)">Siguiente</button>
            </div>
          </form>
        </div>
      </div>

    </section>



    <!-- %%%%%%%%%%%%%% GALERIA %%%%%%%%%%%%%%%%%%% -->
  
    <section id="obras">

      <div class="wave-svg">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>

      <div class="container">
        <span class="all-obras-link" data-aos="fade-up" data-aos-offset="200"><a href="/obras">Todas las obras</a></span>
        <div id="gallery" data-aos="fade-up" data-aos-offset="200">
          <div class="gallery">
            <% obras.forEach((obra, i) => { %>
               <%if(i === 0){%>          <!--  principio if -->
                <figure class="on">
              <%}else{%>
                <figure>
              <%}%>                       <!--  final if -->
                <img src="data:image/<%=obra.img.contentType%>;base64,
                <%=obra.img.data.toString('base64')%>" alt="<%= obra.resumen %>"/>
                <div>
                  <h2><%= obra.titulo %></h2>
                  <% let resumen = obra.resumen %>
                  <%if(resumen.length > 80){resumen = obra.resumen.substring(0,80) + "..."}%>
                 
                  <%if(i === 0){%>                                                                <!--  principio if -->
                    <p class="gallery__descript gallery__descript--grow"><%= resumen %></p>
                  <%}else{%>

                    <p class="gallery__descript"><%= resumen %></p>
                  <%}%>                                                                      
                  <p class="gallery__btn"><button name="<%= i %>">Saber más</button></p>

                </div>
               
              </figure>

          
            <% }); %>
        

          </div>
        </div>
      </div>
      <!-- %%% OBRA OVERLAY %%% -->
        <% obras.forEach((obra, i)=> { %>
          <div class="obra-info">
            <div class="obra-info--inner">

              <button class="obra-info--close" name=<%= i %>>
                <i class="fas fa-times"></i>
              </button>
              <span class="obra-info__date"><%= obra.fecha.toLocaleDateString("de-DE") %></span>
             <div class="obra-info__img">
               <img src="data:image/<%=obra.img.contentType%>;base64,
               <%=obra.img.data.toString('base64')%>" alt="<%= obra.resumen %>">
               <button class="obra-info__expand-img-btn"><i class="fas fa-expand"></i></button>
              </div>
              <div class="contenido-scroll">
             <h3><%= obra.resumen %></h3>
             
               <p><%= obra.contenido %></p>
             </div>

           </div>
          </div>

        <% }) %>
         
        
    </section>


    <!-- %%%%%%%%%%%%%%%%%% CONTACTO %%%%%%%%%%%%%%%%%% -->

    <section id="contacto">
      <div class="contact-waves">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
            <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
            <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
        </svg>
    </div>

      <div class="container">
        <div class="contact__methods" data-aos="fade-down" data-aos-offset="-100">

          <div class="contact__item">
            <i class="fas fa-envelope"></i><h2><a href="mailto:estrumel@estrumel.com">estrumel@estrumel.com</a></h2>
          </div>

          <div class="contact__item">
            <i class="fas fa-phone"></i><h2><a href="tel:+3466666666">618919454</a></h2>
          </div>

        </div>
      </div>
      
    </section>

    <script defer src="js/particles/particles.min.js"></script>
    <script defer src="js/particles/particlesConfig.js"></script>

    <script  src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script async src="/js/homeScript.js"></script>
    <script async src="/js/priceCalculator.js"></script>
    
  </body>
</html>
