<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Empresa madrileña de construccion y reformas con más de 30 años de experiencia.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="/manifest.json">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Black+Ops+One&family=Open+Sans:wght@400;600;700&family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6a6f348080.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/utilityClasses.css" />
    <link rel="stylesheet" href="/css/homeStyles.css" />
    <link rel="icon" href="/css/svg/favicon.svg">
    <title>Estrumel</title>
  </head>
  <body>
     <%# include('partials/loading') %>
    <!-- %%%%%%%%%%%%%%% NAV %%%%%%%%%%%%%%%%%% -->

    <nav id="nav">
      <ul class="nav__list">
        <li class="nav__btn"><span class="nav__burger"></span></li>
        
        <li class="nav__item">
          <a href="#hero" name="hero" class="nav__link">Empresa</a>
          <a href="#hero"><i class="fas fa-home"></i></a>
        </li>

        <li class="nav__item">
          
          <a href="#habilidades-calculador" name="habilidades-calculador" class="nav__link">Calculador de precio</a>
          <a href="#habilidades-calculador"
            ><i class="fas fa-calculator"></i
          ></a>
        </li>

        <li class="nav__item">
          <a href="#obras" name="obras" class="nav__link">Galería</a>
          <a href="#obras"><i class="fas fa-th"></i></a>
        </li>

        <li class="nav__item">
          <a href="#contacto" name="contacto" class="nav__link">Contacto</a>
          <a href="#contacto"><i class="fas fa-phone-square"></i></a>
        </li>
      </span>

        
      </ul>
    </nav>

<!-- %%%%%%%%%%%%%%% HEADER %%%%%%%%%%%%%%%%%% -->
<%- include('partials/header') %>

<!-- %%%%%%%%%%%%%%% HERO %%%%%%%%%%%%%%%%%% -->
    
<section id="hero" class="full-viewport">
  <div id="particles-js"></div>
   <!-- / IMG OBRA (DE FONDO) / -->

      <div class="hero__bg-img">
        <img src="/css/images/obraBg.png" alt="" />
      </div>

    

      <div class="container">
          <!-- / LOGO / -->
           
          <div class="logo__title" data-aos="zoom-out-up" data-aos-duration="650" data-aos-delay="250">
        <img src="css/svg/logo.svg" />

          <!-- / TITULO / -->
          <h1 class="title">STRUMEL</h1>
        </div>

        <!-- / PRESENTACIÓN--ANIMACIÓN
              (LETRAS QUE SE MUEVEN)  /-->

        <div class="presentation" data-aos="fade-up" data-aos-duration="650" data-aos-delay="800">
          <h1 class="presentation__title"><span>30</span> años </h1>
          <a href="" class="typewrite" data-period="2000" data-type='[ "construyendo", "reformando", "arreglando", "cumpliendo tus sueños"]'>
            <span class="wrap"></span>
          </a>
        </div>

        <div class="hero__btns" data-aos="fade-up" data-aos-duration="650" data-aos-delay="850" data-aos-offset="-100">
          <button class="hero__btn hero__btn--conocenos btn--animated">Conócenos</button>
          <a href="/obras" class="hero__btn hero__btn--galeria btn--animated">Nuestro trabajo</a>
        </div>

     
      </div>
    </section>


<!-- %%%%%%%%%%%%%%%/ HABILIDADES-CALCULATOR /%%%%%%%%%%%%%%%%%% -->

    <section id="habilidades-calculador">
      <div class="container calculator-flex">

        
         <!-- / HABILIDADES / -->
         
        <div class="habilidades">

          <div>
            <div class="slide-set slide-set-1">
              <div class="hab-item">
                <i class="fas fa-tools"></i><h3 class="hab-title">Reforma</h3>
              </div>
              <div class="hab-item">
                <i class="fas fa-house-damage"></i><h3 class="hab-title">Reparación</h3>
              </div>
            
            </div>
            <div class="slide-set slide-set-2">
              <div class="hab-item">
                <i class="fas fa-paint-roller"></i><h3 class="hab-title">Pintura</h3>
              </div>
              <div class="hab-item">
                <i class="fas fa-faucet"></i><h3 class="hab-title">Fontanería</h3>
              </div>
            </div>
            <div class="slide-set slide-set-3">
              <div class="hab-item">
                <i class="fas fa-building"></i><h3 class="hab-title">Obra nueva</h3>
              </div>
            
              <div class="hab-item">
                <i class="fas fa-check"></i>
                <div class="hab-title">
                  <h3 >+30 años</h3>
                  <h5 >de experiencia</h5>
                </div>
              </div>
            </div>
          </div>

        </div>


           <!-- / CALCULADORA / --> 

        <div class="calculadora" data-aos="fade-left"  data-aos-offset="100">
          
         <form class=form_calculator>
           <h2>Calculadora de precio</h2>
           <div class="calculadorita">

               <hr>
                 <div class="primer">

                <label for="vivienda">Tipo De Vivienda</label>
                 <select id="vivienda">

                 <option value="piso">Piso</option>
                 <option value="chalet">Chalet</option>
                 <option value="rural">Rural</option>
                
                 </select>
                </div>
                 
           
                <div class="segundo">
                 <label for="servicio">Tipo De Servicio</label>
                 <select id="servicio">
               
                 <option value="reformas">Reformas</option>
                 <option value="pintura">Pintura</option>
                 <option value="obra-nueva">Obra Nueva</option>
                 <option value="reparación">Reparación</option>
                 <option value="fontanería">Fontanería</option>
                 </select>
                </div>
               
                     <!-- range slide -->
                  <div class="tercero">
               <label for="metros">Metros</label>           
              <input type="range" id="metros" min="0" max="500">
            </div>

            <button class="calculadora-btn">Calcular  </button>
            <hr>
           </div>
           </form>
        </div>
      </div>

    </section>



    <!-- %%%%%%%%%%%%%% GALERIA %%%%%%%%%%%%%%%%%%% -->
  
    <section id="obras">

      <div class="wave-svg">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>

      <div class="container">
        <span class="all-obras-link" data-aos="fade-up" data-aos-offset="200"><a href="/obras">Todas las obras</a></span>
        <div id="gallery" data-aos="fade-up" data-aos-offset="200">
          <div class="gallery">
            <% obras.forEach((obra, i) => { %>
               <%if(i === 0){%>          <!--  principio if -->
                <figure class="on">
              <%}else{%>
                <figure>
              <%}%>                       <!--  final if -->
                <img src="<%= obra.imgUrl %>" alt="<%= obra.resumen %>"/>
                <div>
                  <h2><%= obra.titulo %></h2>
                  <% let resumen = obra.resumen %>
                  <%if(resumen.length > 80){resumen = obra.resumen.substring(0,80) + "..."}%>
                 
                  <%if(i === 0){%>                                                                <!--  principio if -->
                    <p class="gallery__descript gallery__descript--grow"><%= resumen %></p>
                  <%}else{%>

                    <p class="gallery__descript"><%= resumen %></p>
                  <%}%>                                                                      
                  <p class="gallery__btn"><button name="<%= i %>">Saber más</button></p>

                </div>
               
              </figure>

          
            <% }); %>
        

          </div>
        </div>
      </div>
      <!-- %%% OBRA OVERLAY %%% -->
        <% obras.forEach((obra, i)=> { %>
          <div class="obra-info">
            <div class="obra-info--inner">

              <button class="obra-info--close" name=<%= i %>>
                <i class="fas fa-times"></i>
              </button>
              <span class="obra-info__date"><%= obra.fecha.toLocaleDateString("de-DE") %></span>
             <div class="obra-info__img">
               <img src="<%= obra.imgUrl %>" alt="<%= obra.resumen %>">
              </div>
              <div class="contenido-scroll">
             <h3><%= obra.resumen %></h3>
             
               <p><%= obra.contenido %></p>
             </div>

           </div>
          </div>

        <% }) %>
         
        
    </section>


    <!-- %%%%%%%%%%%%%%%%%% CONTACTO %%%%%%%%%%%%%%%%%% -->

    <section id="contacto">
      <div class="contact-waves">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
            <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
            <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
        </svg>
    </div>

      <div class="container">
        <div class="contact__methods" data-aos="fade-down" data-aos-offset="-100">

          <div class="contact__item">
            <i class="fas fa-envelope"></i><h2><a href="mailto:estrumel@estrumel.com">estrumel@estrumel.com</a></h2>
          </div>

          <div class="contact__item">
            <i class="fas fa-phone"></i><h2><a href="tel:+3466666666">618919454</a></h2>
          </div>

        </div>
      </div>
      
    </section>

    <script src="js/particles/particles.js"></script>
    <script src="js/particles/particlesConfig.js"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/js/homeScript.js"></script>
    
  </body>
</html>
