<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=PT+Serif:wght@700&display=swap" rel="stylesheet">
<link
rel="stylesheet"
href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
crossorigin="anonymous"
/>  
    <link rel="stylesheet" href="/css/utilityClasses.css" />
    <link rel="stylesheet" href="/css/homeStyles.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Strumel</title>
  </head>
  <body>

    <!-- %%%%%%%%%%%%%%% NAV %%%%%%%%%%%%%%%%%% -->

    <nav id="nav">
      <ul class="nav__list">
        <li class="nav__btn"><span class="nav__burger"></span></li>
        
        <li class="nav__item">
          <a href="#hero" name="hero" class="nav__link">Empresa</a>
          <a href="#hero"><i class="fas fa-home"></i></a>
        </li>

        <li class="nav__item">
          
          <a href="#habilidades-calculador" name="habilidades-calculador" class="nav__link">Caclculador de precio</a>
          <a href="#habilidades-calculador"
            ><i class="fas fa-calculator"></i
          ></a>
        </li>

        <li class="nav__item">
          <a href="#obras" name="obras" class="nav__link">Galería</a>
          <a href="#obras"><i class="fas fa-th"></i></a>
        </li>

        <li class="nav__item">
          <a href="#contacto" name="contacto" class="nav__link">Contacto</a>
          <a href="#contacto"><i class="fas fa-phone-square"></i></a>
        </li>
      </span>

        
      </ul>
    </nav>

<!-- %%%%%%%%%%%%%%% HERO %%%%%%%%%%%%%%%%%% -->
    
<section id="hero" class="full-viewport">

   <!-- / IMG OBRA (DE FONDO) / -->

      <div class="hero__bg-img">
        <img src="/css/images/obraBg3.png" alt="" />
      </div>


      <div class="container">
          <!-- / LOGO / -->
           
          <div class="logo__title">
        <img src="css/svg/haz.svg" />

          <!-- / TITULO / -->
          <h1 class="title">Strumel</h1>
        </div>

        <!-- / PRESENTACIÓN--ANIMACIÓN
              (LETRAS QUE SE MUEVEN)  /-->

        <div class="presentation">
          <h1 class="presentation__title">Hacemos...</h1>
          <a href="" class="typewrite" data-period="2000" data-type='[ "Reformas", "Obra nueva", "Reforma integral", "Fontanería", "Pintura" ]'>
            <span class="wrap"></span>
          </a>
        </div>

      <div class="introduction">
     <h2 class="introduction__title"> ¿Quiénes Somos?</h2>
      <p class="texto1">
       Somos una empresa que ha viajado de generación en generación,
        con el fin de aportar una mayor calidad de vida a ti y a los tuyos,
        mejorando hogares proye
      </p>


      </div>
      </div>
    </section>


<!-- %%%%%%%%%%%%%%%/ HABILIDADES-CALCULATOR /%%%%%%%%%%%%%%%%%% -->

    <section id="habilidades-calculador">
      <div class="container calculator-flex">

        
         <!-- / HABILIDADES / -->
         
        <div class="habilidades">

          <div>
            <div class="slide-set slide-set-1">
              <div class="hab-item">
                <i class="fas fa-tools"></i><h3 class="hab-title">Reformas</h3>
              </div>
              <div class="hab-item">
                <i class="fas fa-house-damage"></i><h3 class="hab-title">Reparaciones</h3>
              </div>
            
            </div>
            <div class="slide-set slide-set-2">
              <div class="hab-item">
                <i class="fas fa-paint-roller"></i><h3 class="hab-title">Pintura</h3>
              </div>
              <div class="hab-item">
                <i class="fas fa-shower"></i><h3 class="hab-title">Fontanería</h3>
              </div>
            </div>
            <div class="slide-set slide-set-3">
              <div class="hab-item">
                <i class="fas fa-building"></i><h3 class="hab-title">Obra nueva</h3>
              </div>
            
              <div class="hab-item">
                <i class="fas fa-check"></i>
                <div class="hab-title">
                  <h3 >+30 años</h3>
                  <h5 >de experiencia</h5>
                </div>
              </div>
            </div>
          </div>

        </div>


           <!-- / CALCULADORA / --> 

        <div class="calculadora">
          
         <form>
          <label for="vivienda">Tipo De Vivienda</label>
          <select id="vivienda">

          <option value="grande">Grande</option>
          <option value="pequeña">Pequeña</option>
          <option value="mediana">Mediana</option>

          </select>
           </form>

          


       
        </div>
      </div>

    </section>



    <!-- %%%%%%%%%%%%%% GALERIA %%%%%%%%%%%%%%%%%%% -->
  
    <section id="obras">
      <div class="wave-svg">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
      <div class="container">
        <div id="gallery">
          <div class="gallery">
            <% obras.forEach((obra, i) => { %>
               <%if(i === 0){%>          <!--  principio if -->
                <figure class="on">
              <%}else{%>
                <figure>
              <%}%>                       <!--  final if -->
                <img src="<%= obra.imgUrl %>"/>
                <div>
                  <h2><%= obra.titulo %></h2>
                  <%if(i === 0){%>                                                                <!--  principio if -->
                    <p class="gallery__descript gallery__descript--grow"><%= obra.resumen %></p>
                  <%}else{%>
                    <p class="gallery__descript"><%= obra.resumen %></p>
                  <%}%>                                                                            <!--  principio if -->
                  
                  
                  <p class="gallery__btn"><a href="/obras/:<%= obra._id %>">Saber más</a></p>
                  
                </div>
              </figure>
              
            <% }); %>
        

          </div>
        </div>
      </div>
    </section>
    <section id="contacto" class="full-viewport"></section>

    <script src="/js/homeScript.js"></script>
    
  </body>
</html>
