<%- include('partials/obrasHead') %>
<body>
    <!-- %%%%%%%%%%% MENSAGE BROWSER ANTIGUO %%%%%%%%%%%% -->
    <div id="oldBrowser-msg" class="display-none">
      <p>Parece que su versión de <strong><span id="navName">Navegador</span></strong> es antigua, lo que puede afectar al correcto funcionamiento de la página.
         <strong>Actualice</strong> su navegador para disfrutar esta página de la forma más óptima posible.</p>
      <button aria-label="Cerrar">x</button>
    </div>
    
    <%- include('partials/header') %>

    
    <section id="obras">
      <div id="particles-js"></div>
      <div class="logo__title" data-aos="zoom-out">
        <img src="css/svg/logo.svg" alt="Estrumel Logo. Una viga de hierro que forma la letra E" />
  
          <!-- / TITULO / -->
          <h1><a href="/" class="title">STRUMEL</a></h1>
        </div>

        <div class="obras__grid">
            <%obras.forEach((obra,i) => { %>   <!-- %%%%%%% OBRA.FOREACH -->
                <div class="obra__box" data-aos="fade-up">
                        <img data-id="<%= obra.id %>" class="gallery__img" src="/css/images/loader.gif" alt="<%=obra.titulo%>">
                        <span class="toggle-overlay" aria-label="Más información/Menos información" role="button"></span>
                        <div class="obra__overlay">
                            <div class="obra__overlay--inner">
                                <% let resumen = obra.resumen %>
                                <%if(resumen.length > 60){resumen = obra.resumen.substring(0,60) + "..."}%>   

                                <h1><%=obra.titulo%></h1>
                                <h2><%=resumen%></h2>
                                <button class="btn--animated info-btn" name="<%= i %>" aria-label="Saber más"data-id="<%= obra.id %>">Saber Más</button>
                                
                            </div>
                        </div>
                </div>
            <%})%>
                <!-- %%% OBRA OVERLAY %%% -->
       
            <div class="obra-info" data-id="obraID">
              <div class="obra-info--inner">
  
                <button class="obra-info--close" name="0" aria-label="Cerrar">
                  <i class="fas fa-times"></i>
                </button>
                <span class="obra-info__date">fecha</span>
               <div class="obra-info__img">
                 <img  src="/css/images/loader.gif" alt="resumen">
                 <button class="obra-info__expand-img-btn" aria-label="Expandir imagen"><i class="fas fa-expand"></i></button>
                </div>
                <div class="contenido-scroll">
               <h3>resumen</h3>
               
                 <p>contenido</p>
               </div>
  
             </div>
            </div>
  
          
        </div>
    </section>
    <script src="js/particles/particles.min.js"></script>
    <script src="js/particles/particlesConfig.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script defer src="https://unpkg.com/bowser@2.4.0/es5.js"></script>
    <script defer src="js/browserDetection.js"></script> 
    <script async src="/js/mobileImageZoom.js"></script>
    <script src="/js/obraScript.js"></script>
</body>
</html>